@media (max-width: 1024px) {
  .navbar-container {
    display: none;
  }
  /* SHOW CASE */
  .showcase-container > h1 {
    font-size: 2.55rem;
    text-align: center;
    line-height: 3.3rem;
  }

  .showcase-container > p {
    font-size: 0 0.875rem;
    text-align: center;
    margin-top: 15px;
    margin-top: 15px;
  }
  /* SOBRE MIM, CONTEUDO */
  .about-me-content {
    flex-direction: column;
    padding-left: 30px;
  }

  .about-me-content > img {
    width: 200px;
    height: 200px;
    margin-right: 0px;
  }

  .about-me-content > p {
    font-size: 0 0.875rem;
    text-align: center;
    margin-top: 15px;
  }
  /* HABILIDADES */
  .skills-content {
    margin-top: 40px;
    flex-direction: column;
  }

  .skills-content > .skill-item:nth-child(2) {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .skill-item {
    padding: 30px;
  }

  .skill-item > img {
    height: 60px;
    width: 60px;
  }

  .skill-item > p {
    font-size: 0.875rem;
  }

  .skill-item > p {
    font-size: 0.875rem;
  }
  /* PROJETOS */

  .projects-content{
    margin-top: 40px;
  }

  .project-item {
    flex-direction: column;
  }

  /* ORDENAÇÃO DAS IMAGENS PARA O LADO DIREITO E ESQUERDO */

  .projects-content > .project-item:nth-child(2),
  .projects-content > .project-item:nth-child(4) {
    justify-content: center;
    text-align: center;
  }

  .projects-content > .project-item:nth-child(2) > .project-item-image,
  .projects-content > .project-item:nth-child(4) > .project-item-image {
    order: 1;
    margin-left: 0px;
  }

  .projects-content > .project-item:nth-child(2) > .projects-text,
  .projects-content > .project-item:nth-child(4) > .projects-text {
    order: 2;
  }

  .projects-text{
    margin-left: 0px;
    max-width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .projects-text > h3 {
    font-size: 1.5rem;
  }

  .projects-text > p {
    font-size: 0.875rem;
    margin-top: 10px;
  }

  /* FORMULARIO */

  .contact-form{
    margin-top: 40px;
  }
  .form-input:focus{
    background: hsl(120, 3%, 53%);
    outline: none;
  }

  /* FOOTER */

  footer{
    flex-direction: column;
    align-items: center;
  }

  .social-items{
    margin-bottom: 15px;
  }

  .social-items a:last-child {
    margin-right: 0;
  }

  /* Utilities */
  .section-title {
    font-size: 2rem;
  }

  .section-container {
    padding: 30px;
  }
}
